<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mapper.custom.SysRolePermissionCustomMapper">
    <!--批量新增回写主键支持-->
    <insert id="insertList">
        INSERT INTO sys_role_permission (role_id, permission_id) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.roleId,jdbcType=BIGINT},
            #{item.permissionId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <select id="getRolePermissionList" resultMap="com.lucky.mapper.auto.SysPermissionMapper.BaseResultMap">
        SELECT
            p.*
        FROM
            sys_role_permission r
            LEFT JOIN sys_permission p ON r.permission_id = p.permission_id
        WHERE
            r.role_id = #{roleId};
    </select>
</mapper>