<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lucky.model.SysPermission">
        <id column="permission_id" property="permissionId"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        permission_id, pid, name, value, url, icon, description, type, status, create_time, update_time
    </sql>

    <select id="getUserPermissionList" resultMap="BaseResultMap">
        SELECT p.*
        FROM sys_user_role ur
                 LEFT JOIN sys_role r ON ur.role_id = r.role_id
                 LEFT JOIN sys_role_permission rp ON r.role_id = rp.role_id
                 LEFT JOIN sys_permission p ON rp.permission_id = p.permission_id
        WHERE ur.user_id = #{userId}
    </select>

    <select id="getRolePermissionList" resultMap="BaseResultMap">
        SELECT p.*
        FROM sys_role_permission r
                 LEFT JOIN sys_permission p ON r.permission_id = p.permission_id
        WHERE r.role_id = #{roleId};
    </select>
</mapper>
